<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {%for restaurant in restaurants%}
        {%for rating in restaurant.ratings_for_restaurant.all %}
            <p>{{restaurant.name}} {{rating.rating}}</p>
        {%endfor%}
    {%endfor%} -->

    {%for restaurant in restaurants%}
        <p>{{restaurant.name}}</p>
        {%for rating in restaurant.ratings_for_restaurant.all %}
            <p>{{rating.rating}}</p>
        {%endfor%}
        {%for sale in restaurant.sales.all %}
            <p>{{sale.income}}</p>
        {%endfor%}
        <hr>
    {%endfor%}
</body>
</html>